name: Build and deploy Python Azure Function App - iRailDB-scraper

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: railway-scraper-cloud
  PYTHON_VERSION: '3.10'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_39B115D8A183427DA7380344171864AF }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_1A81F4F3D4E84A5B959490C77AEE0B6B }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_F4A3DFA716AF4EC88FAEA06B2BC1C96F }}

      - name: Deploy Azure Function App
        uses: Azure/functions-action@v1
        with:
          app-name: iRailDB-scraper
          package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
